<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <title>{#insert title}No title{/}</title>
</head>
<body>
<code>find({data:query}, Sort.by({data:sort})).page({data:pageIndex}, {data:pageSize}).list()</code>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a href="http://localhost:8080/page/items/books">Books</a>
                <a href="http://localhost:8080/page/items/cds">CDs</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1>{#insert title}No title{/}</h1>
    {#insert body}No body{/}
</div>
</body>
</html>